services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    environment:
      FIREBASE_SERVICE_ACCOUNT_PATH: /app/service-account-dev.json
    volumes:
      - ./backend/src:/app/src
      - ./backend/tests:/app/tests
      - ./backend/scripts:/app/scripts
      - ./backend/service-account-dev.json:/app/service-account-dev.json:ro
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    ports:
      - "3000:3000"
    env_file:
      - ./frontend/.env
    environment:
      NEXT_PUBLIC_SHOW_DEBUG: "true"
    depends_on:
      - backend
    volumes:
      - ./frontend:/app
      - /app/node_modules
